<!DOCTYPE html>
<html lang="en">
  <head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66281730-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= ENV['GA_PROPERTY_ID'] %>');
    </script>

    <title>Get help if you're staying at home due to Coronavirus (Covid-19) | Mid Sussex District Council Council</title>
    <link href="https://www.midsussex.gov.uk/favicon-16x16.png" rel="icon" />
    <meta name="viewport" content="width=device-width">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header class="site-header">
      <div class="container">
        <a href="https://www.midsussex.gov.uk" class="site-header__masthead">
          <%= image_tag "logo.svg", alt: "Mid Sussex District Council" %>
        </a>
      </div>
    </header>

    <section class="beta-banner">
      <div class="beta-banner__inner container">
        <strong class="beta-banner__tag">Beta</strong>
        <p class="beta-banner__message">We're updating this website every day — <a href="https://forms.gle/KccDGFHTpbcGLGob7">your feedback</a> helps us improve it.</p>
      </div>
    </section>

    <div class="main-content-area">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <p class="site-footer__notice">© 2020 Mid Sussex District Council</p>
        <nav class="site-footer__menu">
          <a class="site-footer__link" href="https://www.midsussex.gov.uk/about-us/privacy-notice/">Privacy & Cookies</a>
          <a class="site-footer__link" href="https://www.midsussex.gov.uk/about-us/contact-us/">Contact us</a>
          <a class="site-footer__link" href="https://forms.gle/KccDGFHTpbcGLGob7">Give feedback on this service</a>
        </nav>
      </div>
    </footer>


  </body>
</html>
